.board {
    display: flex;
    flex-flow: row wrap;
    width: 1000px;
    margin: 0 auto;
}

div[class^="block"]{
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 2px red solid;
    flex: 0 0 auto;
}